header {
    border: solid #cccccc;
    background-color: #c78383;
    max-width: 960px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    display: inline;
}

h2 {
}

.nav {
    display: inline;
    float: right;
}

p {
    max-width: 960px;
    overflow: visible;
}

#raindrop {
    border: 1px groove #71c5c1;
    border-radius: 50%;
    float: left;
    margin: 10px 30px 10px;
}
